<div class="user-container">
    <div class= "img-block"><img src= 'https://i.pravatar.cc/150?img=2'></div>
    <div class= "user-block">
        <h2><%= @specific_user.name %></h2>
        <p>number of posts: <%= @specific_user.posts_counter %></p>
    </div>
</div>