.user-container {
  display: flex;
  gap: 3rem;
}

img {
  height: 100px;
  width: 100px;
}

.post-block {
  margin-bottom: 1rem;
  border: 2px;
  border-color: black;
  border-style: solid;
}

.button-block {
  display: flex;
  justify-content: center;
}

.user-block {
  border: 2px;
  border-color: black;
  border-style: solid;
}

.post-preview {
  border: 2px;
  border-color: blue;
  border-style: solid;
  background-color: black;
  color: aliceblue;
}

.comments-block {
  border-left: 2px;
  border-right: 2px;
  border-bottom: 2px;
  border-color: black;
  border-style: solid;
}

.newpost-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: black;
  color: aliceblue;
}

.newcomment-block {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: aliceblue;
  justify-content: center;
  align-items: center;
}

.comment-form {
  display: flex;
}

input {
  width: 50%;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: center;
}
